	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #003366;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #515151;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #32251B;
		font-style: normal;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #32251B;
	}
	
	a:hover
	{
		/*text-decoration: none;*/
	}
	
	.container
	{
		margin: 0em auto;
		width: 1200px;
	}
	
	blockquote {
	float: left;
	padding: 0px;
	margin-left: 0px;
	font-style: italic;
	color: #336699;
	font-size: 150%;
	}
	
	.bqstart {
     float: left;
     font-size: 100%;
     color: #666666;
	 margin-top: -25px;
	
 }

 .bqend {
     float: right;
     font-size: 100%;
     color: #666666;
	 	 margin-top: -25px;
		 padding-bottom: -50px;
		 margin-bottom: -50px;
		 margin-right:10px;
 }
	
.reviews 
	{
		font-style: italic;
		color: #336699;
	}
	
.poster
	{
		font-style: normal;
		color: #515151;
	}
	
	#contact {
	width:250px;
	float:left;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}
	
	#map
	{
		display: block;
		float: right;
		margin-top: 4em;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		overflow: hidden;
		list-style: none;
/*		color: #6c6c6c;*/
	}
	
	ul.style1 li
	{
		overflow: hidden;
		display: block;
		padding: 2.80em 0em;
		border-top: 1px solid #D1CFCE;
	}
	
	ul.style1 li:first-child
	{
		padding-top: 0;
		border-top: none;
	}
	
	ul.style1 .image-left
	{
		margin-bottom: 0;
	}
	
	ul.style1 h3
	{
		padding: 1.2em 0em 1em 0em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		color: #454445;
		font-style:normal;
	}
	
	ul.style1 h4
	{
		font-style:normal;
		color: #003366;
	}
	
	ul.style1 a
	{
		/*text-decoration: none;*/
		color: #525252;
	}

	ul.style1 a:hover
	{
		text-decoration: underline;
		color: #525252;
	}

	ul.style2
	{
		margin: 0;
		padding-top: 1em;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}
	
	ul.style3
	{
		margin: 0;
		padding: 0em 0em 0em 2em;
		overflow: visible;
		list-style: disc;
		list-style-type: disc;
		color: #6c6c6c
	}
	
	ul.style3 li
	{
		overflow: visible;
		display: list-item;
		padding: 0em 0em;
		border-top: none;
	}
	
	ul.style3 li:first-child
	{
		padding-top: 0;
		border-top: none;
	}
	
	ul.style3 .image-left
	{
		margin-bottom: 0;
	}
	
	ul.style3 a
	{
		/*text-decoration: none;*/
		color: #525252;
	}

	ul.style3 a:hover
	{
		text-decoration: underline;
		color: #525252;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 2em;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 1em;
	}

	.title h2
	{
		font-weight: 400;
		font-size: 2.8em;
		color: #323232;
		margin-bottom: .25em;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.5em;
		color: #336699;

	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header-wrapper
	{
	}

	#header
	{
		position: relative;
		height: 150px;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 3em;
		left: 50px;
		width: 100%;
	}
	
	#logo a
	{
		display: inline-block;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 700;
		color: #FFF;
		letter-spacing: 0.1em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}


	#logo h1
	{
		font-size: 1em;
	}
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		right: 50px;
		top: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 0em 1.5em;
		height: 150px;
		letter-spacing: 0.20em;
		line-height: 150px;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		background: #32251B;
		color: #FFFFFF;
	}
	


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		background-color: #FFF;
		border-top: 20px solid #32251B;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content.home
	{
		float: left;
		width: 500px;
		padding: 50px;
		background-color: #F3F3F3;
	}

	#content
	{
		float: left;
		width: 300px;
		padding: 50px;
		background-color: #F3F3F3;
	}


/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar.home
	{
		float: right;
		width: 500px;
		padding: 50px;
	}
	
	#sidebar
	{
		float: right;
		width: 700px;
		padding: 50px;
	}

	#stwo-col
	{
		margin-top: 2em;
	}

	#stwo-col h2, h1
	{
		display: block;
		padding-bottom: 1.5em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		color: #454445;
	}

	#stwo-col .sbox1.home
	{
		float: left;
		width: 230px;
	}

	#stwo-col .sbox2.home
	{
		float: right;
		width: 230px;
	}

	#stwo-col .sbox1
	{
		float: left;
		width: 330px;
	}

	#stwo-col .sbox2
	{
		float: right;
		width: 330px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #FFF;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* One Column                                                                    */
/*********************************************************************************/

	#onecolumn
	{
		margin-top: 4em;
	}
	
	#onecolumn .title
	{
		margin-bottom: 1em;
	}

	#onecolumn .title h2
	{
		font-size: 1.8em;
	}
